{% extends "layout.html" %}

{% block title %}
    Projects
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text">Project Id</th>
                <th class="text">Project</th>
                <th class="text">Discription</th>
                <th class="text">Start Date</th>
                <th class="text">End Date</th>
                <th class="text">Progress</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td class="text">
                        <form action="/project_details/{{ project.project_id }}" method="post">
                            <button type="submit" class="btn btn-success">{{ project.project_id }}</button>
                        </form>
                    </td>
                    <td class="text">{{ project.project_name }}</td>
                    <td class="text">{{ project.description }}</td>
                    <td class="text">{{ project.start_date }}</td>
                    <td class="text">{{ project.end_date }}</td>


                    <td class="text">
                        {% if project.stage_name == "In Progress" %}
                            <form action="/mark_complete_p/{{ project.project_id }}" method="post">
                                <button type="submit" class="btn btn-success">Mark Completed</button>
                            </form>
                        {% elif project.stage_name == "Not Started" %}
                            <form action="/mark_in_progress_p/{{ project.project_id }}" method="post">
                                <button type="submit" class="btn btn-warning">Mark In Progress</button>
                            </form>
                        {% elif project.stage_name == "Completed" %}
                            <form action="/mark_incomplete_p/{{ project.project_id }}" method="post">
                                <button type="submit" class="btn btn-warning">Mark Incompleted</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}
